<% content_for :head do %>
  <%= javascript_include_tag 'basic_usage_for_batman', 'data-turbolinks-track' => true %>
<% end %>

<h1>Pages#batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>
