// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.super_photo {
	width: 50%;
}