<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
		<li><%= link_to "pag1", experiments_page1_path, class: "navbar-brand" %></li>
		<li><%= link_to "pag2", experiments_page2_path, class: "navbar-brand" %></li>
		<li><%= link_to "pag3", experiments_page3_path, class: "navbar-brand" %></li>
	<ul>
</nav>